@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: Inter, sans-serif;
}

body {
	background: rgb(238, 238, 250);
}

a {
	text-decoration: none;
}
